<div class="control-group">
  <label class="control-label" for="inputEmail">Email</label>
  <div class="controls">
    <input id="login-email" type="email" value placeholder="Login Email" class="input-xlarge">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputPassword">Password</label>
  <div class="controls">
    <input id="login-pwd" type="password" value placeholder="Login Password" class="input-xlarge">
  </div>
</div>

<div id="login" class="btn btn-large btn-primary" >Login</div>
<p>Connect to other accounts or <a id="register">register </a> a new account</p>
    <a href="/auth/facebook"><img class="oauth" id="facebook" src="style/image/facebook.png" data-inline="true"/></a>
    <a href="/auth/google"><img class="oauth" id="google" src="style/image/google.png" data-inline="true"/></a>

    
