<div id="homeView" data-role="page" data-title="home">
  <div data-role="header">
    <h1> Main</h1>
  </div>
  <div data-role="content">
      <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
        <label for="email" class="ui-input-text">
          Email:
        </label>
        <div class="ui-input-text ui-shadow-insert ui-corner-all ui-btn-shadow ui-body-c">
          <input id="login-email" type="email" name="email" id="email" value class="ui-input-text ui-body-c">
        </div>
      </div>
      <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
        <label for="password" class="ui-input-text">
          Password:
        </label>
        <div  class="ui-input-text ui-shadow-insert ui-corner-all ui-btn-shadow ui-body-c">
          <input id="login-pwd" type="password" name="password" id="password" value class="ui-input-text ui-body-c">
        </div>
      </div>
      <div id="login" data-role="button" >Login</div>
    <a href="#main">test</a>
    <p>Connect to other accounts or <a href="/register" >register </a> a new account</p>
    <a href="/auth/facebook"><img class="oauth" id="facebook" src="style/image/facebook.png" data-inline="true"/></a>
    <a href="/auth/google"><img class="oauth" id="google" src="style/image/google.png" data-inline="true"/></a>
    
  </div>
</div>
