<div id="navView" data-role="page" data-title="nav" >
  <div data-role="content">

  <div data-role="header" class="ui-header ui-bar-a">
    <a href="/logout" data-icon="delete" data-rel="dialog" >logout</a>
    <h1> Functions </h1>
  </div>
  <div data-role="content" class="ui-content">
    <a href="#picture" data-icon="search" data-iconpos="top" data-role="button" data-icon="delete">Scan</a>
    <a href="#article" data-icon="search" data-iconpos="top" data-role="button" data-icon="delete">Scan</a>
  </div>
  </div>
</div>
