<div class="navbar-inner">
  <div class="container">
    <button type="button" class="btn btn-info" id="back">
      <i class="icon-arrow-left "></i>back
    </button>
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <i class="icon-th icon-white"></i>
    </button>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a id="loginout" href="#">login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
