<div data-role="header" data-theme="d" class="ui-corner-top ui-header ui-bar-d" role="banner">
  <a href="#" data-icon="delete" data-iconpos="notext" class="ui-btn-left ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all ui-btn-icon-notext" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="d" title="Close">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text">Close</span>
      <span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span>
    </span>
  </a>
  <h1 class="ui-title" role="heading" aria-level="1">Really Log out?</h1>
</div>



<div data-role="content">
  <div data-role="button" id="surelogout">
    Sure
  </div>
  <div data-role="button" id="cancellogout">
    Cancel
  </div>
</div>
