<div id="pictureView" data-role="page" data-title="Picture" data-url="picture">
   <div data-role="header">
    <h1> Register</h1>
  </div>
  <div data-role="content" class="content">
  
  </div>

</div>

  
  
<div id="navView" data-role="page" data-title="nav" data-url="nav">
   <div data-role="header">
    <h1> Functions </h1>
  </div>
  <div data-role="content">
    <a href="#pictureView" data-icon="search" data-iconpos="top" data-role="button" data-icon="delete">Scan</a>
  </div>

</div>




<div id="articleView" data-role="page" data-title="Article" data-url="article">
   <div data-role="header">
    <h1> Register</h1>
  </div>
  <div data-role="content">
    <h2> test2</h2>
  </div>

</div>

